
.row
  .col-xs-12.text-right
    = link_to products_path, class: "btn btn-link" do
      %i.fa.fa-list
      Product List
    = link_to search_products_path, class: "btn btn-link" do
      %i.fa.fa-search

      Search products
